# Project Title

**Author:** Benjamin Dean
***

## Overview

A one-paragraph overview of the project, including the business problem, data, methods, results and recommendations.

## Business Problem
#
Microsoft plans to enter the film sector with their new movie studio.
***
Questions to consider:
* What are the business's pain points related to this project?
* How did you pick the data analysis question(s) that you did?
* Why are these questions important from a business perspective?
***

In [3]:
# Does analysis find a trend in genres?
# find 25 highest grossing movies for each of last 75* years
# categorize resulting data by genre
# graph data using years as x axis, percentage of

## Data Understanding

Describe the data being used for this project.
***
Questions to consider:
* Where did the data come from, and how do they relate to the data analysis questions?
* What do the data represent? Who is in the sample and what variables are included?
* What is the target variable?
* What are the properties of the variables you intend to use?
***

In [4]:
# Import standard packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
pd.set_option('display.max_rows', 50)

In [5]:
# Here you run your code to explore the data
imdb_title_basics = pd.read_csv('data/zippedData/imdb.title.basics.csv.gz')
tn_movie_budgets = pd.read_csv('data/zippedData/tn.movie_budgets.csv.gz')

In [6]:
tn_movie_budgets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [7]:
imdb_title_basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [8]:
imdb_title_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [9]:
imdb_title_basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

## Data Preparation

#### Remove unwanted columns

In [10]:
tn_movie_budgets.drop(columns = ['id', 'domestic_gross'], inplace=True)
imdb_title_basics.drop(columns = ['tconst','runtime_minutes', 'original_title', 'start_year'], inplace=True)

#### Line up movie name lines in order to merge

In [11]:
tn_movie_budgets.movie = tn_movie_budgets.movie.str.upper()
imdb_title_basics.primary_title = imdb_title_basics.primary_title.str.upper()

tn_movie_budgets.movie = tn_movie_budgets.movie.str.strip()
imdb_title_basics.primary_title = imdb_title_basics.primary_title.str.strip()

for each in [':',',','!']:
    tn_movie_budgets.movie = tn_movie_budgets.movie.str.replace(each, '')

for each in [':',',','!']:
    imdb_title_basics.primary_title = imdb_title_basics.primary_title.str.replace(each,'')

tn_movie_budgets = tn_movie_budgets.rename(columns={'movie': 'primary_title'})

#### Merge Datasets

In [12]:
main_df = pd.merge(tn_movie_budgets, imdb_title_basics , on='primary_title')
main_df

,release_date,primary_title,production_budget,worldwide_gross,genres
0,"Dec 18, 2009",AVATAR,"$425,000,000","$2,776,345,279",Horror
1,"May 20, 2011",PIRATES OF THE CARIBBEAN ON STRANGER TIDES,"$410,600,000","$1,045,663,875","Action,Adventure,Fantasy"
2,"Jun 7, 2019",DARK PHOENIX,"$350,000,000","$149,762,350","Action,Adventure,Sci-Fi"
3,"May 1, 2015",AVENGERS AGE OF ULTRON,"$330,600,000","$1,403,013,963","Action,Adventure,Sci-Fi"
4,"Apr 27, 2018",AVENGERS INFINITY WAR,"$300,000,000","$2,048,134,200","Action,Adventure,Sci-Fi"
...,...,...,...,...,...
3928,"Jul 6, 2001",CURE,"$10,000","$94,596",NaN
3929,"Apr 1, 1996",BANG,"$10,000",$527,NaN
3930,"Jan 13, 2012",NEWLYWEDS,"$9,000","$4,584","Comedy,Drama"
3931,"Dec 31, 2018",RED 11,"$7,000",$0,"Horror,Sci-Fi,Thriller"
3932,"Sep 29, 2015",A PLAGUE SO PLEASANT,"$1,400",$0,"Drama,Horror,Thriller"

In [13]:
main_df['release_year'] = pd.to_datetime(main_df.release_date)
main_df['release_year'] = main_df['release_year'].dt.year
#tn_movie_budgets.set_index('release_date', inplace=True)
main_df

,release_date,primary_title,production_budget,worldwide_gross,genres,release_year
0,"Dec 18, 2009",AVATAR,"$425,000,000","$2,776,345,279",Horror,2009
1,"May 20, 2011",PIRATES OF THE CARIBBEAN ON STRANGER TIDES,"$410,600,000","$1,045,663,875","Action,Adventure,Fantasy",2011
2,"Jun 7, 2019",DARK PHOENIX,"$350,000,000","$149,762,350","Action,Adventure,Sci-Fi",2019
3,"May 1, 2015",AVENGERS AGE OF ULTRON,"$330,600,000","$1,403,013,963","Action,Adventure,Sci-Fi",2015
4,"Apr 27, 2018",AVENGERS INFINITY WAR,"$300,000,000","$2,048,134,200","Action,Adventure,Sci-Fi",2018
...,...,...,...,...,...,...
3928,"Jul 6, 2001",CURE,"$10,000","$94,596",NaN,2001
3929,"Apr 1, 1996",BANG,"$10,000",$527,NaN,1996
3930,"Jan 13, 2012",NEWLYWEDS,"$9,000","$4,584","Comedy,Drama",2012
3931,"Dec 31, 2018",RED 11,"$7,000",$0,"Horror,Sci-Fi,Thriller",2018
3932,"Sep 29, 2015",A PLAGUE SO PLEASANT,"$1,400",$0,"Drama,Horror,Thriller",2015

### Remove unwanted characters in order to make value convertable to int

In [14]:
#tn_movie_budgets_lite = tn_movie_budgets[['movie', 'release_date', 'worldwide_gross']]
for each in ['$',',']:
    main_df.worldwide_gross = main_df.worldwide_gross.str.replace(each,'')
for each in ['$',',']:
    main_df.production_budget = main_df.production_budget.str.replace(each,'')

In [15]:
main_df.worldwide_gross = pd.to_numeric(main_df.worldwide_gross)
main_df.production_budget = pd.to_numeric(main_df.production_budget)
main_df['profit'] = main_df['worldwide_gross'] - main_df['production_budget']
main_df.sort_values(by='profit', ascending=False, inplace=True)
main_df = main_df[(main_df != 0).all(1)]
main_df

,release_date,primary_title,production_budget,worldwide_gross,genres,release_year,profit
0,"Dec 18, 2009",AVATAR,425000000,2776345279,Horror,2009,2351345279
43,"Dec 19, 1997",TITANIC,200000000,2208208395,Family,1997,2008208395
42,"Dec 19, 1997",TITANIC,200000000,2208208395,Adventure,1997,2008208395
4,"Apr 27, 2018",AVENGERS INFINITY WAR,300000000,2048134200,"Action,Adventure,Sci-Fi",2018,1748134200
25,"Jun 12, 2015",JURASSIC WORLD,215000000,1648854864,"Action,Adventure,Sci-Fi",2015,1433854864
...,...,...,...,...,...,...,...
466,"Apr 21, 2017",THE PROMISE,90000000,10551417,Comedy,2017,-79448583
465,"Apr 21, 2017",THE PROMISE,90000000,10551417,Drama,2017,-79448583
364,"Jun 14, 2019",MEN IN BLACK INTERNATIONAL,110000000,3100000,"Action,Adventure,Comedy",2019,-106900000
179,"Mar 11, 2011",MARS NEEDS MOMS,150000000,39549758,"Adventure,Animation,Family",2011,-110450242
2,"Jun 7, 2019",DARK PHOENIX,350000000,149762350,"Action,Adventure,Sci-Fi",2019,-200237650

In [16]:
yearly_top_25 = pd.DataFrame() 
years = main_df.release_year.unique()
years.sort()
for year in years:
    mask = main_df.release_year == year
    frame = main_df[mask]
    frame = frame.sort_values(by='worldwide_gross', ascending=False).iloc[:25]
    yearly_top_25 = yearly_top_25.append(frame)

In [17]:
yearly_top_25

,release_date,primary_title,production_budget,worldwide_gross,genres,release_year,profit
2489,"Feb 8, 1915",THE BIRTH OF A NATION,110000,11000000,"Biography,Drama,History",1915,10890000
3702,"Dec 26, 1931",MATA HARI,558000,900000,Biography,1931,342000
40,"Apr 7, 1933",KING KONG,672000,10000650,"Action,Adventure",1933,9328650
3690,"Sep 6, 1935",TOP HAT,609000,3202000,NaN,1935,2593000
3513,"Dec 21, 1937",SNOW WHITE AND THE SEVEN DWARFS,1488000,184925486,"Comedy,Drama,Fantasy",1937,183437486
...,...,...,...,...,...,...,...
390,"Mar 15, 2019",WONDER PARK,100000000,115149422,"Adventure,Animation,Comedy",2019,15149422
521,"Jun 7, 2019",THE SECRET LIFE OF PETS 2,80000000,113351496,"Adventure,Animation,Comedy",2019,33351496
1751,"Apr 5, 2019",PET SEMATARY,21000000,109501146,"Horror,Mystery,Thriller",2019,88501146
1013,"May 31, 2019",ROCKETMAN,41000000,108642725,"Biography,Drama,Music",2019,67642725
2755,"Mar 15, 2019",FIVE FEET APART,7000000,80504421,"Drama,Romance",2019,73504421

In [22]:
about_to_sort = yearly_top_25.loc[yearly_top_25['release_year'] == '2019']
about_to_sort = about_to_sort.sort_values(by=['worldwide_gross'], ascending=False)
about_to_sort

Empty DataFrame
Columns: [release_date, primary_title, production_budget, worldwide_gross, genres, release_year, profit]
Index: []

In [23]:
tn_movie_budgets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   release_date       5782 non-null   object
 1   primary_title      5782 non-null   object
 2   production_budget  5782 non-null   object
 3   worldwide_gross    5782 non-null   object
dtypes: object(4)
memory usage: 180.8+ KB

In [24]:
year_groups = tn_movie_budgets.groupby(['year'])
year_groups.get_group('2019')

KeyError: 'year'

In [21]:
tn_movie_budgets.sort_values(by=['year'], ascending=False)

KeyError: 'year'

In [48]:
tn_movie_budgets.worldwide_gross.value_counts(normalize=True)

0           0.063473
8000000     0.001557
7000000     0.001038
2000000     0.001038
10000000    0.000692
              ...
4613482     0.000173
57273049    0.000173
1594955     0.000173
23894000    0.000173
3620902     0.000173
Name: worldwide_gross, Length: 5356, dtype: float64

In [49]:
tn_movie_budgets.release_date[0]

'2009-12-18'

In [50]:
a_string = 'This String'
first_4 = a_string[:4]
first_4

'This'

In [51]:
type(tn_movie_budgets['movie'][0])

str

In [54]:
tn_movie_budgets.loc[tn_movie_budgets['release_date'] == '2020']

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [18]:
# Here you run your code to clean the data
tn_movie_budgets.isna().sum()

id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

In [19]:
number_of_values = tn_movie_budgets['worldwide_gross'].count()

In [20]:
number_of_zeros = (tn_movie_budgets['worldwide_gross'] == '$0').sum()

In [21]:
percentage_of_zeros = (number_of_zeros/number_of_values)*100
print(percentage_of_zeros)

0.0

## Data Modeling
Describe and justify the process for analyzing or modeling the data.

***
Questions to consider:
* How did you analyze or model the data?
* How did you iterate on your initial approach to make it better?
* Why are these choices appropriate given the data and the business problem?
***

In [ ]:
# Here you run your code to model the data

## Evaluation
Evaluate how well your work solves the stated business problem.

***
Questions to consider:
* How do you interpret the results?
* How well does your model fit your data? How much better is this than your baseline model?
* How confident are you that your results would generalize beyond the data you have?
* How confident are you that this model would benefit the business if put into use?
***

## Conclusions
Provide your conclusions about the work you've done, including any limitations or next steps.

***
Questions to consider:
* What would you recommend the business do as a result of this work?
* What are some reasons why your analysis might not fully solve the business problem?
* What else could you do in the future to improve this project?
***